.App {
  display: flex;
  flex-direction: column;
}

.column_display {
  display: flex;
  flex-direction: column;
}

.title {
  width: 40%;
  height: auto;
  margin: 2rem 2rem 2rem 4rem;
}

.content {
  display: flex;
  flex-direction: row;
}

.filter-area {
  display: flex;
  position: sticky;
  top: 15%;
  align-self: flex-start;
  flex-direction: column;
  padding: 0rem 0rem 1.5rem 4rem;
  margin: 1rem 0rem 0rem 4rem;
  min-width: 12rem;
  border: 2px solid #d2d2d2;
  border-radius: 10px;
  box-shadow: 0 1px 1px #d2d2d2;
}

.cart {
  display: flex;
  position: sticky;
  top: 15%;
  right: 0;
  align-self: flex-start;
  flex-direction: column;
  min-width: 10rem;
  margin-left: 3.5rem;
}

.cart p {
  font-size: 1rem;
  font-weight: 700;
}

.groceryItems {
  display: flex;
  flex-flow: row wrap;
  max-width: 50rem;
}


.groceryItem {
  max-width: 15rem;
  margin: 1rem 3.5rem 5rem 6.5rem;
}

.groceryItem img {
    width: 15rem;
    height: auto;
}

.groceryItem button {
    background-color: rgb(17, 95, 230);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
}

.description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 11rem;
}

.price-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-buttons h3{
  align-items: center;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  font-weight: bold;
}
